
.idea/.idea.SDM Compulsory Assignment/.idea/.name
.idea/.idea.SDM Compulsory Assignment/.idea/contentModel.xml
.idea/.idea.SDM Compulsory Assignment/.idea/vcs.xml
.idea/.idea.SDM Compulsory Assignment/.idea/workspace.xml
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.assets.cache
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.csprojAssemblyReference.cache
SDM Compulsory Assignment/obj/project.assets.json
SDM Compulsory Assignment/obj/project.packagespec.json
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.cache
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.dgspec.json
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.g.props
.idea/.idea.SDM Compulsory Assignment/.idea/contentModel.xml
.idea/.idea.SDM Compulsory Assignment/.idea/workspace.xml
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.assets.cache
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.csprojAssemblyReference.cache
SDM Compulsory Assignment/obj/project.assets.json
SDM Compulsory Assignment/obj/project.packagespec.json
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.cache
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.dgspec.json
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.g.props
.idea/.idea.SDM Compulsory Assignment/.idea/contentModel.xml
.idea/.idea.SDM Compulsory Assignment/.idea/workspace.xml
Program/bin/Debug/netcoreapp2.2/Program.deps.json
Program/bin/Debug/netcoreapp2.2/Program.dll
Program/bin/Debug/netcoreapp2.2/Program.pdb
Program/bin/Debug/netcoreapp2.2/Program.runtimeconfig.dev.json
Program/bin/Debug/netcoreapp2.2/Program.runtimeconfig.json
Program/bin/Debug/netcoreapp2.2/SDM Compulsory Assignment.dll
Program/bin/Debug/netcoreapp2.2/SDM Compulsory Assignment.pdb
Program/obj/Debug/netcoreapp2.2/Program.AssemblyInfo.cs
Program/obj/Debug/netcoreapp2.2/Program.AssemblyInfoInputs.cache
Program/obj/Debug/netcoreapp2.2/Program.assets.cache
Program/obj/Debug/netcoreapp2.2/Program.csproj.CopyComplete
Program/obj/Debug/netcoreapp2.2/Program.csproj.CoreCompileInputs.cache
Program/obj/Debug/netcoreapp2.2/Program.csproj.FileListAbsolute.txt
Program/obj/Debug/netcoreapp2.2/Program.csprojAssemblyReference.cache
Program/obj/Debug/netcoreapp2.2/Program.dll
Program/obj/Debug/netcoreapp2.2/Program.pdb
Program/obj/Program.csproj.nuget.cache
Program/obj/Program.csproj.nuget.dgspec.json
Program/obj/Program.csproj.nuget.g.props
Program/obj/Program.csproj.nuget.g.targets
Program/obj/project.assets.json
Program/obj/project.packagespec.json
Program/Program.csproj
SDM Compulsory Assignment.sln
SDM Compulsory Assignment/bin/Debug/netcoreapp2.2/SDM Compulsory Assignment.deps.json
SDM Compulsory Assignment/bin/Debug/netcoreapp2.2/SDM Compulsory Assignment.dll
SDM Compulsory Assignment/bin/Debug/netcoreapp2.2/SDM Compulsory Assignment.pdb
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.assets.cache
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.csproj.CoreCompileInputs.cache
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.csprojAssemblyReference.cache
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.dll
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.pdb
SDM Compulsory Assignment/obj/project.assets.json
SDM Compulsory Assignment/obj/project.packagespec.json
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.cache
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.dgspec.json
SDM Compulsory Assignment/SDM Compulsory Assignment.csproj
TestProject1/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
TestProject1/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
TestProject1/bin/Debug/netcoreapp2.2/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
TestProject1/bin/Debug/netcoreapp2.2/SDM Compulsory Assignment.dll
TestProject1/bin/Debug/netcoreapp2.2/SDM Compulsory Assignment.pdb
