
.idea/.idea.SDM Compulsory Assignment/.idea/.name
.idea/.idea.SDM Compulsory Assignment/.idea/contentModel.xml
.idea/.idea.SDM Compulsory Assignment/.idea/vcs.xml
.idea/.idea.SDM Compulsory Assignment/.idea/workspace.xml
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.assets.cache
SDM Compulsory Assignment/obj/Debug/netcoreapp2.2/SDM Compulsory Assignment.csprojAssemblyReference.cache
SDM Compulsory Assignment/obj/project.assets.json
SDM Compulsory Assignment/obj/project.packagespec.json
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.cache
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.dgspec.json
SDM Compulsory Assignment/obj/SDM Compulsory Assignment.csproj.nuget.g.props
